version: "3.9"

services:
  backend:
    build: ./backend
    container_name: dus-fr-backend
    environment:
      - PORT=4000
      - MONGO_URI=mongodb://mongo:27017/dusfr
      - JWT_SECRET=supersecretjwt
      - MINIO_ENDPOINT=minio
      - MINIO_PORT=9000
      - MINIO_USE_SSL=false
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_BUCKET=media
      - MINIO_PUBLIC_URL=http://localhost:9000
      - SEED_USER_EMAIL=engineer@example.com
      - SEED_USER_PASSWORD=password123
      - SEED_USER_NAME=Default Engineer
    ports:
      - "4000:4000"
    depends_on:
      - mongo
      - minio

  frontend:
    build: ./frontend
    container_name: dus-fr-frontend
    environment:
      - VITE_API_URL=http://backend:4000
    ports:
      - "5173:5173"
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: dus-fr-mongo
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  minio:
    image: minio/minio:RELEASE.2024-04-06T05-26-02Z
    container_name: dus-fr-minio
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio-data:/data
    ports:
      - "9000:9000"
      - "9001:9001"

volumes:
  mongo-data:
  minio-data:
